<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="font-size: 44px;font-style: normal;">Explore</title>
    <link rel="stylesheet" href="blog.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            font-family:Arial, Helvetica, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #7e2323;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }
        header h1 {
            margin: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        .container h2 {
            color: #333;
        }
        .container p {
            line-height: 1.6;
        }

        .container img {
            max-width: 100%;
            height: auto;
        }

        .social-icons {
            margin-top: 20px;
        }

        .social-icons a {
            text-decoration: none;
            color: #333;
            margin: 0 10px;
            font-size: 24px;
        }

        .social-icons a:hover {
            color: #007bff;
        }
        * {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fcfcfc;
    
}
footer{
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #772525;
    height:auto;
    width: 100vw;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 20px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 300px;
    margin: 10px auto;
    line-height: 20px;
    font-size: 10px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #7e2323;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 10px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

    </style>
       
</head>
<body>
    <header>
        <p style="font-size: 44px;font-style: normal;">OVERALL INDEX</p>
    </header>
    <div class="container">
        <p>
            Education is the foundation of a prosperous and empowered society. Education plays a vital role in the development of a nation. However, dropout rates in Indian schools have been a major cause of concern for policymakers and educators. It is also a significant issue in many countries worldwide, especially in developing countries.
        </p><br><br>   
        <p>   
            The dropout rate is measured in terms of the percentage of students who leave school before completing their level/grade. It is a critical indicator of the effectiveness of the education system. The UDISE+ 2021-22 data reveals that the overall dropout rate in schools in India is 1.5 percent, which is lower than the previous year’s rate of 1.8 percent. However, the rate is still a concern, especially in certain states.
        </p><br><br>   
        <p>   
           The UDISE+ 2021-22 data shows that the dropout rate is highest at the secondary level (9-10) with 12.6 percent, followed by upper primary (6-8) with 3 percent and primary (1-5) with 1.5 percent. The data further reveals that the dropout rate is higher for girls than boys at all levels of education.
        </p><br><br>
          <img src="https://www.researchgate.net/profile/Protiva-Kundu/publication/306960367/figure/fig4/AS:399442537664515@1472245930981/Dropout-Rates-in-School-Education-in-India-2010-11-in.png"><br><br>
        <table  style="width:100%" border=2>
            <tbody>
            <tr>
            <td colspan="10" width="1067">
            <p style="text-align: center;"><span style="color: #ad5118;"><strong>Average Annual Dropout Rate by level of education and gender, 2021-22</strong></span></p>
            </td>
            </tr>
            <tr>
            <td width="177"></td>
            <td colspan="9" width="890"><span style="color: #ad5118;"><strong>Average Annual Dropout Rate (%)</strong></span></td>
            </tr>
            <tr>
            <td style="text-align: center;" width="177"><span style="color: #ad5118;"><strong>India/State/UT</strong></span></td>
            <td style="text-align: center;" colspan="3" width="258"><span style="color: #ad5118;"><strong>Primary (1 to 5)</strong></span></td>
            <td style="text-align: center;" colspan="3" width="302"><span style="color: #ad5118;"><strong>Upper Primary (6-8)</strong></span></td>
            <td colspan="3" width="330">
            <p style="text-align: center;"><span style="color: #ad5118;"><strong>Secondary (9-10)</strong></span></p>
            </td>
            </tr>
            <tr>
            <td width="177"></td>
            <td width="105"><span style="color: #ad5118;">Boys</span></td>
            <td width="56"><span style="color: #ad5118;">Girls</span></td>
            <td width="97"><span style="color: #ad5118;">Total</span></td>
            <td width="94"><span style="color: #ad5118;">Boys</span></td>
            <td width="98"><span style="color: #ad5118;">Girls</span></td>
            <td width="110"><span style="color: #ad5118;">Total</span></td>
            <td width="110"><span style="color: #ad5118;">Boys</span></td>
            <td width="110"><span style="color: #ad5118;">Girls</span></td>
            <td width="110"><span style="color: #ad5118;">Total</span></td>
            </tr>
            <tr>
            <td width="177"><strong>India</strong></td>
            <td width="105"><strong>1.6</strong></td>
            <td width="56"><strong>1.4</strong></td>
            <td width="97"><strong>1.5</strong></td>
            <td width="94"><strong>2.7</strong></td>
            <td width="98"><strong>3.3</strong></td>
            <td width="110"><strong>3.0</strong></td>
            <td width="110"><strong>13</strong></td>
            <td width="110"><strong>12.3</strong></td>
            <td width="110"><strong>12.6</strong></td>
            </tr>
            <tr>
            <td width="177">Andaman and Nicobar Islands</td>
            <td width="105">0.2</td>
            <td width="56">0.7</td>
            <td width="97">0.4</td>
            <td width="94">0.9</td>
            <td width="98">1.0</td>
            <td width="110">1.0</td>
            <td width="110">6.0</td>
            <td width="110">3.9</td>
            <td width="110">5.0</td>
            </tr>
            <tr>
            <td width="177">Andhra Pradesh</td>
            <td width="105">0.0</td>
            <td width="56">0.0</td>
            <td width="97">0.0</td>
            <td width="94">1.7</td>
            <td width="98">1.5</td>
            <td width="110">1.6</td>
            <td width="110">17.5</td>
            <td width="110">15.0</td>
            <td width="110">16.3</td>
            </tr>
            <tr>
            <td width="177">Arunachal Pradesh</td>
            <td width="105">9.3</td>
            <td width="56">9.2</td>
            <td width="97">9.3</td>
            <td width="94">4.8</td>
            <td width="98">8.4</td>
            <td width="110">6.7</td>
            <td width="110">11.2</td>
            <td width="110">12.3</td>
            <td width="110">11.7</td>
            </tr>
            <tr>
            <td width="177">Assam</td>
            <td width="105">6.8</td>
            <td width="56">5.2</td>
            <td width="97">6.0</td>
            <td width="94">10.1</td>
            <td width="98">7.6</td>
            <td width="110">8.8</td>
            <td width="110">19.8</td>
            <td width="110">20.7</td>
            <td width="110">20.3</td>
            </tr>
            <tr>
            <td width="177">Bihar</td>
            <td width="105">0.0</td>
            <td width="56">0.0</td>
            <td width="97">0.0</td>
            <td width="94">4.0</td>
            <td width="98">5.2</td>
            <td width="110">4.6</td>
            <td width="110">19.5</td>
            <td width="110">21.4</td>
            <td width="110">20.5</td>
            </tr>
            <tr>
            <td width="177">Chandigarh</td>
            <td width="105">0.0</td>
            <td width="56">0.0</td>
            <td width="97">0.0</td>
            <td width="94">0.0</td>
            <td width="98">0.0</td>
            <td width="110">0.0</td>
            <td width="110">0.0</td>
            <td width="110">0.0</td>
            <td width="110">0.0</td>
            </tr>
            <tr>
            <td width="177">Chhattisgarh</td>
            <td width="105">1.0</td>
            <td width="56">0.6</td>
            <td width="97">0.8</td>
            <td width="94">4.8</td>
            <td width="98">3.3</td>
            <td width="110">4.1</td>
            <td width="110">11.5</td>
            <td width="110">8.1</td>
            <td width="110">9.7</td>
            </tr>
            <tr>
            <td width="177">Dadra and Nagar Haveli &amp; Daman &amp; Diu</td>
            <td width="105">0.0</td>
            <td width="56">0.0</td>
            <td width="97">0.0</td>
            <td width="94">0.0</td>
            <td width="98">0.0</td>
            <td width="110">0.0</td>
            <td width="110">10.5</td>
            <td width="110">8.4</td>
            <td width="110">9.5</td>
            </tr>
            <tr>
            <td width="177">Delhi</td>
            <td width="105">0.0</td>
            <td width="56">0.0</td>
            <td width="97">0.0</td>
            <td width="94">0.0</td>
            <td width="98">0.0</td>
            <td width="110">0.0</td>
            <td width="110">5.9</td>
            <td width="110">3.7</td>
            <td width="110">4.8</td>
            </tr>
            <tr>
            <td width="177">Goa</td>
            <td width="105">0.0</td>
            <td width="56">0.0</td>
            <td width="97">0.0</td>
            <td width="94">0.0</td>
            <td width="98">0.0</td>
            <td width="110">0.0</td>
            <td width="110">12.1</td>
            <td width="110">5.5</td>
            <td width="110">9.0</td>
            </tr>
            <tr>
            <td width="177">Gujarat</td>
            <td width="105">0.0</td>
            <td width="56">0.0</td>
            <td width="97">0.0</td>
            <td width="94">4.2</td>
            <td width="98">5.8</td>
            <td width="110">5.0</td>
            <td width="110">19.4</td>
            <td width="110">15.9</td>
            <td width="110">17.9</td>
            </tr>
            <tr>
            <td width="177">Haryana</td>
            <td width="105">0.0</td>
            <td width="56">0.0</td>
            <td width="97">0.0</td>
            <td width="94">0.3</td>
            <td width="98">0.2</td>
            <td width="110">0.2</td>
            <td width="110">6.7</td>
            <td width="110">4.9</td>
            <td width="110">5.9</td>
            </tr>
            <tr>
            <td width="177">Himachal Pradesh</td>
            <td width="105">0.0</td>
            <td width="56">0.0</td>
            <td width="97">0.0</td>
            <td width="94">0.6</td>
            <td width="98">0.5</td>
            <td width="110">0.6</td>
            <td width="110">2.0</td>
            <td width="110">0.9</td>
            <td width="110">1.5</td>
            </tr>
            <tr>
            <td width="177">Jammu and Kashmir</td>
            <td width="105">3.9</td>
            <td width="56">4.1</td>
            <td width="97">4.0</td>
            <td width="94">2.8</td>
            <td width="98">3.2</td>
            <td width="110">3.0</td>
            <td width="110">5.6</td>
            <td width="110">6.3</td>
            <td width="110">6.0</td>
            </tr>
            <tr>
            <td width="177">Jharkhand</td>
            <td width="105">2.4</td>
            <td width="56">1.1</td>
            <td width="97">1.8</td>
            <td width="94">3.7</td>
            <td width="98">4.0</td>
            <td width="110">3.9</td>
            <td width="110">9.7</td>
            <td width="110">8.9</td>
            <td width="110">9.3</td>
            </tr>
            <tr>
            <td width="177">Karnataka</td>
            <td width="105">0.0</td>
            <td width="56">0.0</td>
            <td width="97">0.0</td>
            <td width="94">1.1</td>
            <td width="98">1.1</td>
            <td width="110">1.1</td>
            <td width="110">16.2</td>
            <td width="110">13.0</td>
            <td width="110">14.7</td>
            </tr>
            <tr>
            <td width="177">Kerala</td>
            <td width="105">0.0</td>
            <td width="56">0.0</td>
            <td width="97">0.0</td>
            <td width="94">0.0</td>
            <td width="98">0.0</td>
            <td width="110">0.0</td>
            <td width="110">6.9</td>
            <td width="110">4.1</td>
            <td width="110">5.5</td>
            </tr>
            <tr>
            <td width="177">Ladakh</td>
            <td width="105">7.5</td>
            <td width="56">5.5</td>
            <td width="97">6.5</td>
            <td width="94">2.2</td>
            <td width="98">0.0</td>
            <td width="110">1.1</td>
            <td width="110">4.0</td>
            <td width="110">5.7</td>
            <td width="110">4.9</td>
            </tr>
            <tr>
            <td width="177">Lakshadweep</td>
            <td width="105">0.5</td>
            <td width="56">0.4</td>
            <td width="97">0.5</td>
            <td width="94">3.2</td>
            <td width="98">1.9</td>
            <td width="110">2.6</td>
            <td width="110">0.4</td>
            <td width="110">0.0</td>
            <td width="110">0.0</td>
            </tr>
            <tr>
            <td width="177">Madhya Pradesh</td>
            <td width="105">3.2</td>
            <td width="56">2.9</td>
            <td width="97">3.1</td>
            <td width="94">8.6</td>
            <td width="98">9.0</td>
            <td width="110">8.8</td>
            <td width="110">10.6</td>
            <td width="110">9.7</td>
            <td width="110">10.1</td>
            </tr>
            <tr>
            <td width="177">Maharashtra</td>
            <td width="105">0.0</td>
            <td width="56">0.0</td>
            <td width="97">0.0</td>
            <td width="94">1.5</td>
            <td width="98">1.6</td>
            <td width="110">1.5</td>
            <td width="110">10.8</td>
            <td width="110">10.6</td>
            <td width="110">10.7</td>
            </tr>
            <tr>
            <td width="177">Manipur</td>
            <td width="105">13.5</td>
            <td width="56">13.0</td>
            <td width="97">13.3</td>
            <td width="94">6.0</td>
            <td width="98">5.2</td>
            <td width="110">5.6</td>
            <td width="110">1.4</td>
            <td width="110">1.2</td>
            <td width="110">1.3</td>
            </tr>
            <tr>
            <td width="177">Meghalaya</td>
            <td width="105">11.1</td>
            <td width="56">8.6</td>
            <td width="97">9.8</td>
            <td width="94">12.0</td>
            <td width="98">9.4</td>
            <td width="110">10.6</td>
            <td width="110">23.3</td>
            <td width="110">20.4</td>
            <td width="110">21.7</td>
            </tr>
            <tr>
            <td width="177">Mizoram</td>
            <td width="105">7.1</td>
            <td width="56">5.6</td>
            <td width="97">6.4</td>
            <td width="94">3.8</td>
            <td width="98">1.6</td>
            <td width="110">2.7</td>
            <td width="110">13.1</td>
            <td width="110">10.8</td>
            <td width="110">11.9</td>
            </tr>
            <tr>
            <td width="177">Nagaland</td>
            <td width="105">5.6</td>
            <td width="56">4.5</td>
            <td width="97">5.0</td>
            <td width="94">4.6</td>
            <td width="98">3.4</td>
            <td width="110">4.0</td>
            <td width="110">18.9</td>
            <td width="110">16.2</td>
            <td width="110">17.5</td>
            </tr>
            <tr>
            <td width="177">Odisha</td>
            <td width="105">0.0</td>
            <td width="56">0.0</td>
            <td width="97">0.0</td>
            <td width="94">8.0</td>
            <td width="98">6.5</td>
            <td width="110">7.3</td>
            <td width="110">29.2</td>
            <td width="110">25.2</td>
            <td width="110">27.3</td>
            </tr>
            <tr>
            <td width="177">Puducherry</td>
            <td width="105">3.7</td>
            <td width="56">3.6</td>
            <td width="97">3.7</td>
            <td width="94">2.8</td>
            <td width="98">2.1</td>
            <td width="110">2.4</td>
            <td width="110">8.4</td>
            <td width="110">4.1</td>
            <td width="110">6.3</td>
            </tr>
            <tr>
            <td width="177">Punjab</td>
            <td width="105">1.6</td>
            <td width="56">1.0</td>
            <td width="97">1.3</td>
            <td width="94">8.7</td>
            <td width="98">7.1</td>
            <td width="110">8.0</td>
            <td width="110">18.3</td>
            <td width="110">16.0</td>
            <td width="110">17.2</td>
            </tr>
            <tr>
            <td width="177">Rajasthan</td>
            <td width="105">3.8</td>
            <td width="56">3.3</td>
            <td width="97">3.6</td>
            <td width="94">4.4</td>
            <td width="98">4.2</td>
            <td width="110">4.3</td>
            <td width="110">7.8</td>
            <td width="110">7.5</td>
            <td width="110">7.7</td>
            </tr>
            <tr>
            <td width="177">Sikkim</td>
            <td width="105">2.9</td>
            <td width="56">0.5</td>
            <td width="97">1.8</td>
            <td width="94">0.0</td>
            <td width="98">0.0</td>
            <td width="110">0.0</td>
            <td width="110">14.6</td>
            <td width="110">9.5</td>
            <td width="110">11.9</td>
            </tr>
            <tr>
            <td width="177">Tamil Nadu</td>
            <td width="105">0.0</td>
            <td width="56">0.0</td>
            <td width="97">0.0</td>
            <td width="94">0.0</td>
            <td width="98">0.0</td>
            <td width="110">0.0</td>
            <td width="110">6.3</td>
            <td width="110">2.5</td>
            <td width="110">4.5</td>
            </tr>
            <tr>
            <td width="177">Telangana</td>
            <td width="105">0.0</td>
            <td width="56">0.0</td>
            <td width="97">0.0</td>
            <td width="94">3.4</td>
            <td width="98">2.9</td>
            <td width="110">3.1</td>
            <td width="110">14.5</td>
            <td width="110">12.9</td>
            <td width="110">13.7</td>
            </tr>
            <tr>
            <td width="177">Tripura</td>
            <td width="105">1.2</td>
            <td width="56">1.0</td>
            <td width="97">1.1</td>
            <td width="94">4.8</td>
            <td width="98">4.3</td>
            <td width="110">4.5</td>
            <td width="110">8.5</td>
            <td width="110">8.2</td>
            <td width="110">8.3</td>
            </tr>
            <tr>
            <td width="177">Uttar Pradesh</td>
            <td width="105">2.4</td>
            <td width="56">3.0</td>
            <td width="97">2.7</td>
            <td width="94">1.3</td>
            <td width="98">4.7</td>
            <td width="110">2.9</td>
            <td width="110">9.5</td>
            <td width="110">10.0</td>
            <td width="110">9.7</td>
            </tr>
            <tr>
            <td width="177">Uttarakhand</td>
            <td width="105">1.0</td>
            <td width="56">0.5</td>
            <td width="97">0.8</td>
            <td width="94">3.0</td>
            <td width="98">2.4</td>
            <td width="110">2.7</td>
            <td width="110">5.4</td>
            <td width="110">4.6</td>
            <td width="110">5.0</td>
            </tr>
            <tr>
            <td width="177">West Bengal</td>
            <td width="105">9.1</td>
            <td width="56">8.2</td>
            <td width="97">8.6</td>
            <td width="94">0.0</td>
            <td width="98">0.0</td>
            <td width="110">0.0</td>
            <td width="110">18.4</td>
            <td width="110">17.7</td>
            <td width="110">18.0</td>
            </tr>
            <tr>
            <td colspan="2" width="282"><em>Source: UDISE+ 2021-22</em></td>
            <td width="56"></td>
            <td width="97"></td>
            <td width="94"></td>
            <td width="98"></td>
            <td width="110"></td>
            <td width="110"></td>
            <td width="110"></td>
            <td width="110"></td>
            </tr>
            </tbody>
        </table>
    </div>
</class>
    </body>
    <footer>
        <div class="footer-content">
            <h3>student droput analysis</h3>
            <p>EDUCATION FOR EVERYONE. EVERYWHERE.</p>
            <ul class="socials">
                <li><a href="https://www.facebook.com/highschooldropoutsfin/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/PMOIndia/status/591471618972483584"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://educationforallinindia.com/dropout-rates-in-schools-in-india/"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.youtube.com/watch?v=aDf8-Wvjk5M"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.linkedin.com/pulse/high-school-drop-outs-why-students-out-whats-impact-student-ackerman/"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2023 SIH. designed by <span>Ignite coders</span></p>
        </div>
    </footer>
</body>
</html>
